upstash_redis
python-dotenv
crewai
crewai-tools
fastapi
uvicorn
pydantic
langchain
langchain_core
langchain_community
langchain_chroma
langchain_core
langchain-groq
beautifulsoup4
ddgs
requests
mcp
starlette
pandas

